
#
# Module configuration file for
# MyEQApp1
# (com.sem1.eqelatasklist)
#

displayname: Eqela Tasklist Rivera
moduletype: widgetapplication
depends: com.eqela.libcommonwidget
depends: com.eqela.libtextinputwidget
depends: com.eqela.libselectorwidget
depends: com.eqela.libdialogwidget
depends: com.eqela.libpopupwidget
depends: com.eqela.libapplicationdata
